<ion-header>
  <ion-toolbar>
    <ion-title>
      Question One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col id = "list-one">
        <h2>Top Five Selling Books</h2>
        <ion-list>
            <ion-item>
              <ion-label>1. The handmaid's tale by Margaret Atwood</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2. A Killer's mind by Mike Omer</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>3. The 7 Habits of Highly Effective People by Stephen Covey</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>4. Harry Potter and the Sorcerers Stone by JK Rowling</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>5. Say You're Sorry by Melinda Leigh</ion-label>
            </ion-item>
          </ion-list>
      </ion-col> 
          <ion-col id = "list-two">
              <h2>Top Five Favorite Athletes</h2> 
                  <ion-list>
                  <ion-item>
                    <ion-label>1. Lionel Messi</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>2. Xavi</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>3. Andres Iniesta</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>4. Carles Puyol</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>5. Ronaldinho</ion-label>
                  </ion-item>
                </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
